# Local environmental variables
.env

# Intellij
.idea/


# Gradle
.gradle/
build/

# Windows
Thumbs.db

# Certs
certs/

# temp stuff
temp/

# Can commit apis after stripping out jwt tokens
bruno

*groovy*.jar

scripts/k8s/k8s-secrets.yml

